Ejercicio-4_171299/Connected Services/Areas/AreasWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cuadro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lado1" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="lado2" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cuadroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cuadroResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="triangulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="base1" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="altura2" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="trianguloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="trianguloResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="circulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="radio" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="circuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="circuloResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="cuadroSoapIn">
    <wsdl:part name="parameters" element="tns:cuadro" />
  </wsdl:message>
  <wsdl:message name="cuadroSoapOut">
    <wsdl:part name="parameters" element="tns:cuadroResponse" />
  </wsdl:message>
  <wsdl:message name="trianguloSoapIn">
    <wsdl:part name="parameters" element="tns:triangulo" />
  </wsdl:message>
  <wsdl:message name="trianguloSoapOut">
    <wsdl:part name="parameters" element="tns:trianguloResponse" />
  </wsdl:message>
  <wsdl:message name="circuloSoapIn">
    <wsdl:part name="parameters" element="tns:circulo" />
  </wsdl:message>
  <wsdl:message name="circuloSoapOut">
    <wsdl:part name="parameters" element="tns:circuloResponse" />
  </wsdl:message>
  <wsdl:portType name="AreasWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cuadro">
      <wsdl:input message="tns:cuadroSoapIn" />
      <wsdl:output message="tns:cuadroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="triangulo">
      <wsdl:input message="tns:trianguloSoapIn" />
      <wsdl:output message="tns:trianguloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="circulo">
      <wsdl:input message="tns:circuloSoapIn" />
      <wsdl:output message="tns:circuloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AreasWebServiceSoap" type="tns:AreasWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cuadro">
      <soap:operation soapAction="http://tempuri.org/cuadro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="triangulo">
      <soap:operation soapAction="http://tempuri.org/triangulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="circulo">
      <soap:operation soapAction="http://tempuri.org/circulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AreasWebServiceSoap12" type="tns:AreasWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cuadro">
      <soap12:operation soapAction="http://tempuri.org/cuadro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="triangulo">
      <soap12:operation soapAction="http://tempuri.org/triangulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="circulo">
      <soap12:operation soapAction="http://tempuri.org/circulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AreasWebService">
    <wsdl:port name="AreasWebServiceSoap" binding="tns:AreasWebServiceSoap">
      <soap:address location="https://localhost:44370/AreasWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AreasWebServiceSoap12" binding="tns:AreasWebServiceSoap12">
      <soap12:address location="https://localhost:44370/AreasWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>